* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}



#wrapper {
	display: grid;
	/*3 первые колонки 1fr(fr гибкий размер)*/
	grid-template-columns: 1fr 2fr 1fr;
	/*Отступы между элементами*/
	grid-gap: 1em;
	/*Высота элементов*/
	grid-auto-rows: minmax(100px, auto);
}

#wrapper > div {
	padding: 1em;
	font-size: 1em;
	background-color: #eb7181;
}

#wrapper > div.light {
	padding: 1em;
	font-size: 1em;
	background-color: #edb1b9;
}

.box1 {
	align-self: start;
	justify-self: end;
}

.box2 {
	
}

.box3 {
	align-self: center;
	justify-self: center;
}