* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

#wrapper {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-gap: 1em;
}

#wrapper > div {
	padding: 1em;
	font-size: 1em;
	background-color: #eb7181;
}

#wrapper > div.light {
	padding: 1em;
	font-size: 1em;
	background-color: #edb1b9;
}

#header {
	background-color: yellow;
}
#main {

}
#footer {
	background-color: #e3e3e3;
}